html, body{
    width: 100%;
    height: 100%;
    margin: 0; 
    scroll-behavior: smooth;    
}

body {
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    cursor: default;
}

.logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    float: left;
    margin: 0px;
    padding: 19px;
    text-align: left;
    text-decoration: none;
    background-color: #72B6F9;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 0px;
  }
  .autrebouton{
      position: relative;
      float: none;
      display: flex;
      flex-direction: row;
      background-color: #72B6F9;
      color: darkslategrey;
      border: none;
      cursor: pointer;
      height: auto;
      padding: 28px;
      margin-top: 0px;
      font-size: 16px;
  }
  
  .menu {
      background-color: #72B6F9;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 24px;
      border-top-left-radius: 24px;
      border-bottom-left-radius: 0px;
      box-shadow: 7px 7px 7px #312E2E;
  }
  .boutonmenuprincipal {
      background-color: #72B6F9;
      color: darkslategrey;
      border: none;
      cursor: pointer;
      padding:28px;
      margin-top:0px;
      font-size: 16px;
      }
  .boutonmenuprincipal:hover {
      background-color: #228BF4;
      -moz-transition: all .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out;  
      transition: all .2s ease-in-out;
      z-index: 10;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown2 {
      position: relative;
      display: inline-block
  }
  .dropdown-child {
      background-color: #72B6F9;
      width: 100%;
      position: absolute; 
      transform: scaleY(0); 
      transform-origin: top;
      transition: transform .25s;
      opacity: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 7px 7px 7px #312E2E;
      z-index: 998;
  }
  .dropdown-child a {
      color: darkslategrey;
      padding: 20px;
      text-decoration: none;
      display: block;
      -moz-transition: all .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out;  
      transition: all .2s ease-in-out;
  }
  a:hover{
      background-color: #228BF4;
      width:auto; 
  }
  .dropdown:hover .dropdown-child {
      transform: scaleY(1);
      opacity: 1;
  }
  .dropdown-child2 {
      background-color: #72B6F9;
      width: 100%;
      position: absolute; 
      transform: scaleY(0); 
      transform-origin: top;
      transition: transform .25s;
      opacity: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 7px 7px 7px #312E2E;
      z-index: 998;
  }
  .dropdown-child2 a {
      color: darkslategrey;
      padding: 20px;
      text-decoration: none;
      display: block;
      -moz-transition: all .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out;  
      transition: all .2s ease-in-out;
  }
  .dropdown2:hover .dropdown-child2 {
      transform: scaleY(1);
      opacity: 1;
  }
  .autrebouton:hover {
      background-color: #228BF4;
      -moz-transition: all .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out;  
      transition: all .2s ease-in-out;
      z-index: 10;
  }
  .link:hover{
      background-color: #228BF4;
      width:auto; 
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
  }
  @media screen and (max-width: 961px){
      .menu {
          padding: 1px;
          font-size: 14px;
          display: flex;
          flex-flow: row wrap;
      }
      .boutonmenuprincipal {
          font-size: 14px;
      }
      .autrebouton {
          font-size: 14px;
      }
      .logo {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 0px;
      }
  }


.container{
    margin: 0 auto; 
    position: relative;
    width: 100vw;
    height: calc(100vh - 74px);
    /*padding-bottom: 40%;*/
    background: transparent;
}

#titre {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial; 
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.slider {
    height:100% ; 
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}



.slides {
    display: flex;
    width: calc(100vw * 3 );
    height: 100%;
    animation: glisse 10s infinite;
    z-index: -1;
    background-color: #111;
}

.slide1 {
    width: 100%;
    background: url('assets/images/1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    width: 100%;
    background: url('assets/images/2.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slide3 {
    width: 100%;
    background: url('assets/images/3.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.nav{

width: 100%;
height: 11px;
bottom: 12%;
position: absolute;
text-align: center;
z-index: 99%;

}


@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100vw);
    }

    43% {
        transform: translateX(-100vw);
    }

    66% {
        transform: translateX(-200vw);
    }
    76% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(0);
    }

}


#pied_page{
    width: 100%;
}

#txt_pied{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background-color: #FDA18D;
}

#txt_pied {
    margin: 0;  
}

#img_pied{
    width: 40px;
    height: auto;
    vertical-align: bottom;
}

#team{
    font-size: 20px;
}

#img_ancre{
    display: flex;
    width: 70px;
    height: auto;
    justify-content: center;
    margin-left: 1px;
    padding-top: 10px;
}

#tableau
{
    display: flex;
    flex-direction: column;
}

.profil{
    text-align: center;
    margin: 5px;
    margin-top: 5px;
    font-family: 'Questrial', sans-serif;
    color: black;
}

#ancre{
    position: fixed;
    top: 35%;
    left: 0%;
    display: flex;
    align-items: center;
    height: 110px;
    width: 110px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    z-index: 999;
    transition: all 1s;
}

#ancre:hover{
    display: flex;
    align-items: center;
    height: 550px;
    width: 110px;
    flex-direction: column;
    background-color: #FDA18D;
}

#h4tab{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 661px){
    #img_ancre{
        display: flex;
        width: 45px;
        height: auto;
        justify-content: center;
        margin-left: 1px;
        padding-top: 10px;
    }
    
    #tableau
    {
        display: flex;
        flex-direction: column;
    }
    
    .profil{
        text-align: center;
        font-size: 12px;
        margin: 5px;
        margin-bottom: 15px;
        font-family: 'Questrial', sans-serif;
        color: black;
        font-weight: bold;
    }
    
    #ancre{
        position: fixed;
        top: 13%;
        left: 0%;
        display: flex;
        align-items: center;
        height: 80px;
        width: 75px;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        transition: all 1s;
    }
    
    #ancre:hover{
        display: flex;
        align-items: center;
        height: 560px;
        width: 75px;
        flex-direction: column;
        background-color: #FDA18D;
    }
    
    #h4tab{
        margin-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }
}





:root {
    --primary-color: black;
    --secondary-color: white;  
}

#img-julien { background: url('assets/images/Julien pro.jpg'); background-size: cover; background-position: center; }
#img-eloise { background: url('assets/images/Elo pro.jpg'); background-size: cover; background-position: center; }
#img-ugo { background: url('assets/images/Ugo pro.jpg'); background-size: cover; background-position: center; }
#img-thomas { background: url('assets/images/Thomas pro.jpg'); background-size: cover; background-position: center; }
#img-nadege { background: url('assets/images/Nadège pro.jpg'); background-size: cover; background-position: center; }
#img-alexis { background: url('assets/images/Alexis pro.jpg'); background-size: cover; background-position: center; }
#img-willy { background: url('assets/images/Willy pro.jpg'); background-size: cover; background-position: center; }
#img-gautier { background: url('assets/images/Gautier Pro.jpg'); background-size: cover; background-position: center; }
#img-mehdi { background: url('assets/images/Mehdi pro.jpg'); background-size: cover; background-position: top; }
#img-pierre { background: url('assets/images/Pierre pro.jpg'); background-size: cover; background-position: bottom; }
#img-riad { background: url('assets/images/Riad pro.jpg'); background-size: cover; background-position: center; }
#img-sibel { background: url('assets/images/Sibel pro.jpg'); background-size: cover; background-position: center; }
#img-zakaria { background: url('assets/images/Zak pro.jpg'); background-size: cover; background-position: center; }



a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

.card-section {
    width: 100vw;
    margin: 0 auto;
}

#julien {
    width: 80%;
    margin: 40px auto;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}   

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 450px;
    background: var(--primary-color);
    color: var(--secondary-color);
    margin: 10px 0;
    padding: 40px 0 20px 0;
    font-weight: bold;
    border-radius: 15px;
}

#formateur {
    background: black;
}

.name-image {
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card ol {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 400;
    max-height: 150px;
    width: 80%;
    text-align: center;
}

.card li {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px auto;
}

.card .name {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    margin-top: -20px;
    border-radius: 5px;
}

.card-title {
    width: 80%;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    color: var(--primary-color);
}

.media .profil {
    padding: 10px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 5px;
}

.media .media-icon {
    display: flex;
    align-items: center;
}

.media-icon img {
    height: 32px;
    border-radius: 2px;
    margin: 0 5px;
}

@media screen and (min-width: 640px) {

    .card {
        margin: 10px 1vw;
        width: 80%;
        height: 500px;
        font-size: 20px;
    }

    .container {
        width: 90%;
    }

    .card-title {
        font-size: 26px;
    }

    .media-icon img {
        height: 48px;
    }
}

@media screen and (min-width: 1024px) {

    #julien {
        margin: 40px auto;
        width: calc(80% / 3);
        height: 500px;
        font-size: 20px;
    }

    #card-container {
        flex-direction: row;
        width: 80vw;
        flex-wrap: wrap;
    }

    .card {
        flex: 1 0;
        margin: 10px 1vw;
        min-width: calc(33% - 5vw);
        height: 500px;
        font-size: 20px;
    }

    .card-title {
        white-space: initial;
        overflow: visible;
    }

    .media {
        align-items: center;
        margin: 0;
    }

    .media-icon {
        flex-direction: column-reverse;
        max-height: calc(64px + 20px);
        flex-wrap: wrap;
    }

    .media-icon img {
        height: 32px;
    }

    .media-icon img:nth-child(odd) {
        margin-bottom: 10px;
    }
}
