html, body{
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    scroll-behavior: smooth;     
}

body {
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    cursor: default;
    background: #F1F1F1;
}

.logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    float: left;
    margin: 0px;
    padding: 19px;
    text-align: left;
    text-decoration: none;
    background-color: rgb(116, 159, 223);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 0px;
  }
 
  
  .menu {
      background-color: rgb(116, 159, 223);
      box-shadow: 0px 7px 7px black;
      z-index: 999;
  }
  .bouton-menu {
      background-color: rgb(116, 159, 223);
      color: darkslategrey;
      border: none;
      cursor: pointer;
      padding:28px;
      margin-top:0px;
      font-size: 16px;
      }
  .bouton-menu:hover {
      background-color: rgba(116, 159, 223, 0.75);
      -moz-transition: all .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out;  
      transition: all .2s ease-in-out;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-child {
      background-color: rgba(116, 159, 223, 0.9);
      width: 100%;
      position: absolute; 
      transform: scaleY(0); 
      transform-origin: top;
      transition: transform .25s;
      opacity: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 0px 7px 7px #312E2E;  
      z-index: 100;
  }
  .dropdown-child a {
      color: darkslategrey;
      padding: 20px;
      text-decoration: none;
      display: block;
      -moz-transition: all .2s ease-in-out; 
      -webkit-transition: all .2s ease-in-out;  
      transition: all .2s ease-in-out;
  }
    .menu a:hover{
      background-color: rgb(99, 143, 209);
      width:auto; 
  }
  .dropdown:hover .dropdown-child {
      transform: scaleY(1);
      opacity: 1;
  }
  .link:hover{
      background-color: #228BF4;
      width:auto; 
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
  }
  @media screen and (max-width: 961px){
      .menu {
          padding: 1px;
          font-size: 14px;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
      }
      .bouton-menu {
          font-size: 12px;
      }
      .logo {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 0px;
      }
  }


  /* -------- Eloïse ------------------ */

.container{
    position: relative;
    width: 100%;
    height: calc(100vh - 74px);
    /*padding-bottom: 40%;*/
    background: transparent;
}

#titre {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial; 
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 5px black;
    z-index: 1;
}

.slider {
    height:100% ; 
    width: 100%;
    overflow: hidden;
}



.slides {
    display: flex;
    width: calc(100vw * 3 );
    height: 100%;
    animation: glisse 10s infinite;
    z-index: -1;
    background-color: #111;
}

.slide1 {
    width: 100%;
    background: url('assets/images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    width: 100%;
    background: url('assets/images/toit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide3 {
    width: 100%;
    background: url('assets/images/labo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100vw);
    }

    43% {
        transform: translateX(-100vw);
    }

    66% {
        transform: translateX(-200vw);
    }
    76% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(0);
    }

}


#pied_page{
    width: 100%;
    margin-top: 80px;
}

#txt_pied{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background-color: rgb(116, 159, 223);
}

#txt_pied {
    margin: 0;  
}

#img_pied{
    width: 40px;
    height: auto;
    vertical-align: bottom;
}

#team{
    font-size: 20px;
}

#img_ancre{
    display: flex;
    width: 70px;
    height: auto;
    justify-content: center;
    margin-left: 1px;
    padding-top: 10px;
}

#tableau
{
    display: flex;
    flex-direction: column;
}

.profil{
    text-align: center;
    margin: 5px;
    margin-top: 5px;
    font-family: 'Questrial', sans-serif;
    color: black;
}

#ancre{
    position: fixed;
    top: 25%;
    left: 1%;
    display: flex;
    align-items: center;
    height: 110px;
    width: 110px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    transition: all 1s;
}

#ancre:hover{
    display: flex;
    align-items: center;
    height: 550px;
    width: 110px;
    flex-direction: column;
    background-color: rgb(150, 185, 236);
}

#h4tab{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 661px){
    #img_ancre{
        display: flex;
        width: 45px;
        height: auto;
        justify-content: center;
        margin-left: 1px;
        padding-top: 10px;
    }
    
    #tableau
    {
        display: flex;
        flex-direction: column;
    }
    
    .profil{
        text-align: center;
        font-size: 12px;
        margin: 5px;
        margin-bottom: 15px;
        font-family: 'Questrial', sans-serif;
        color: black;
        font-weight: bold;
    }
    
    #ancre{
        position: fixed;
        top: 13%;
        left: 0%;
        display: flex;
        align-items: center;
        height: 80px;
        width: 75px;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        transition: all 1s;
    }
    
    #ancre:hover{
        display: flex;
        align-items: center;
        height: 560px;
        width: 75px;
        flex-direction: column;
    }
    
    #h4tab{
        margin-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }
}



/* ----------------  Alexis  ------------------------- */

:root {
    --primary-color: rgb(116, 159, 223);
    --secondary-color: #F1F1F1;  
}

#img-julien { background: url('assets/images/Julien pro.jpg'); background-size: cover; background-position: center; }
#img-eloise { background: url('assets/images/Elo pro.jpg'); background-size: cover; background-position: center; }
#img-ugo { background: url('assets/images/Ugo pro.jpg'); background-size: cover; background-position: center; }
#img-thomas { background: url('assets/images/Thomas pro.jpg'); background-size: cover; background-position: center; }
#img-nadege { background: url('assets/images/Nadège pro.jpg'); background-size: cover; background-position: center; }
#img-alexis { background: url('assets/images/Alexis pro.jpg'); background-size: cover; background-position: center; }
#img-willy { background: url('assets/images/Willy pro.jpg'); background-size: cover; background-position: center; }
#img-gautier { background: url('assets/images/Gautier Pro.jpg'); background-size: cover; background-position: center; }
#img-mehdi { background: url('assets/images/Mehdi pro.jpg'); background-size: cover; background-position: top; }
#img-pierre { background: url('assets/images/Pierre pro.jpg'); background-size: cover; background-position: bottom; }
#img-riad { background: url('assets/images/Riad pro.jpg'); background-size: cover; background-position: center; }
#img-sibel { background: url('assets/images/Sibel pro.jpg'); background-size: cover; background-position: center; }
#img-zakaria { background: url('assets/images/Zak pro.jpg'); background-size: cover; background-position: center; }



#card-section a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card img {
    vertical-align: middle;
}

/*  -------  BEGINNING PROFILE SECTION  ------- */

#profile-watching {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

#profile {
    width: 700px;
    height: 700px;
    padding: 40px;
    background: var(--primary-color);
    border-radius: 20px;
    color: white;
}

#profile-head {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

#profile-image {
    width: 256px;
    height: 256px;
    border-radius: 10px;
    background: url('assets/images/Julien pro.jpg');
    background-size: cover;
}

#profile-name {
    position: relative;
    font-size: 48px;
    text-align: left;
    margin-left: 40px;
    box-shadow: 7px 7px 10px rgb(75, 114, 173);
    animation: experience-name 2s;
}

#profile-description {
    margin: 20px 10px;
    height: calc(100% - 256px);
}

#experience-title {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    overflow: hidden;
}

#experience-title::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: white;
    bottom: -6px;
    right: 50%;
    left: 50%;
    opacity: 0;
    transition: all .25s;
    animation: experience-title 1s forwards;
    animation-delay: 2s;
}

@keyframes experience-title {
    100% {
        left: 0;
        right: 0;
        opacity: 1;
    }
}

@keyframes experience-name {
    0% {
        opacity: 0;
        left: 10%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

/*  ---------  END PROFILE SECTION  --------- */

.card-section {
    width: 100vw;
    margin: 0 auto;
}

#julien {
    width: 80%;
    margin: 40px auto;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}   

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 450px;
    background: var(--primary-color);
    color: var(--secondary-color);
    margin: 10px 0;
    padding: 40px 0 20px 0;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #A1A1A1;
    transition: all .25s; 
    cursor: pointer;
}

#formateur {
    background: black;
}

.name-image {
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container .name {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    margin-top: -20px;
    border-radius: 5px;
    z-index: 1;
}

.fun-mode {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .5s;
    cursor: pointer;
    user-select: none;
}

.card:hover .fun-mode {
    opacity: 1;
}

.card ol {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 400;
    max-height: 150px;
    width: 80%;
    text-align: center;
}

.card li {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px auto;
}

.card-title {
    width: 80%;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    color: var(--primary-color);
}

.media .profil {
    padding: 10px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 5px;
}

.media .media-icon {
    display: absolute;
    align-items: center;
}

.media-icon img {
    height: 32px;
    border-radius: 2px;
    margin: 0 5px;
    transition: transform .25s;
}

.media-icon img:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 640px) {

    .card {
        margin: 10px 1vw;
        width: 80%;
        height: 500px;
        font-size: 20px;
    }

    .container {
        width: 100%;
    }

    .card-title {
        font-size: 26px;
    }

    .media-icon img {
        height: 48px;
    }
}

@media screen and (min-width: 1024px) {

    #julien {
        margin: 40px auto;
        width: calc(80% / 3);
        height: 500px;
        font-size: 20px;
    }

    #card-container {
        flex-direction: row;
        width: 80vw;
        flex-wrap: wrap;
    }

    .card {
        flex: 1 0;
        margin: 10px 1vw;
        min-width: calc(33% - 5vw);
        height: 500px;
        font-size: 20px;
    }

    .card-title {
        white-space: initial;
        overflow: visible;
    }

    .media {
        align-items: center;
        margin: 0;
    }

    .media-icon {
        flex-direction: column-reverse;
        max-height: calc(64px + 20px);
        flex-wrap: wrap;
    }

    .media-icon img {
        height: 32px;
    }

    .media-icon img:nth-child(odd) {
        margin-bottom: 10px;
    }
}
